<% @subreddits.each do |subreddit| %>
	<li><a href="/r/<%= subreddit.topic %>"><%= subreddit.topic %></a></li>
<% end %>
</ul>

<div class="submission">
	<%= @submission.link %><%= @submission.text %>
</div>

<form action="/<%= @submission_id %>/delete" method="post"><input type="submit" name="delete story" value="delete" />
</form>

<div>Submit a Comment:
	<form action="/comment/<%= @submission_id %>/new" method="post">
		<textarea name="body" cols=40 rows=10></textarea>
		<button type="submit">Add Comment</button>
	</form>
</div>

Comments:
<% @submission.comments.each do |comment| %>
	<div><%= comment.body %></div>
<div>Upvotes: <%= comment.upvotes %>
Downvotes: <%= comment.downvotes %>
</div>
	<div class="votes">
		<form action="/comment/<%= comment.id %>/upvotes" method="post"><input type="submit" name="upvoted_comment" value="upvote" />
		</form>

		<form action="/comment/<%= comment.id %>/downvotes" method="post"><input type="submit" name="downvoted_comment" value="downvote" />
		</form>
	</div>

	<form action="/comment/<%= comment.id %>/delete" method="post"><input type="submit" name="delete" value="delete" />
	</form>

<% end %>

