<!-- top nav -->
<% @subreddits.each do |subreddit| %>
<li><a href="/r/<%= subreddit.topic %>"><%= subreddit.topic %></a></li>
<% end %>
</ul>

<h2><%= @subreddit.topic %></h2>
<div><a href="/r/<%= params[:topic] %>/new">Submit a link or URL</a></div>

<% @subreddit.submissions.each do |submission| %>
	<a href="/r/<%= @subreddit.topic %>/<%= submission.id %>"><%= submission.link %></a>
	<a href="/r/<%= @subreddit.topic %>/<%= submission.id %>"><%= submission.text %></a>
	Upvotes: <%= submission.upvotes %>
	Downvotes: <%= submission.downvotes %>
	<div class="votes">
		<li><form action="/<%= @subreddit.topic %>/<%= submission.id %>/upvotes" method="post"><input type="submit" name="upvoted" value="upvote" />
		</form></li>
		<li><form action="/<%= @subreddit.topic %>/<%= submission.id %>/downvotes" method="post"><input type="submit" name="downvoted" value="downvote" />
		</form></li>
	</div>
<% end %>