<h2><%= @subreddit.topic %></h2>
<div class="submission_header">
<span><a href="/r/<%= params[:topic] %>/newest">Newest submissions in this subreddit</a></span>
<span><a href="/r/<%= params[:topic] %>/new">Submit a link or URL</a></span>
</div>

<% @subreddit.submissions.each do |submission| %>
	<a href="/r/<%= @topic %>/<%= submission.id %>"><%= submission.link %></a>
	<a href="/r/<%= @topic %>/<%= submission.id %>"><%= submission.text %></a>
	Upvotes: <%= submission.upvotes %>
	Downvotes: <%= submission.downvotes %>
	<div class="votes">
		<li><form action="/<%= @subreddit.topic %>/<%= submission.id %>/upvotes" method="post"><input type="submit" name="upvoted" value="upvote" />
		</form></li>
		<li><form action="/<%= @subreddit.topic %>/<%= submission.id %>/downvotes" method="post"><input type="submit" name="downvoted" value="downvote" />
		</form></li>
	</div>
<% end %>